@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&family=Roboto:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 0.35rem;
}

header {
  position: relative;
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  overflow: hidden;
}

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  filter: brightness(0.2);
}

header::after {
  content: '';
  position: absolute;
  inset: 0;
  background: red;
  z-index: -1;
  opacity: 0.15;
  mix-blend-mode: overlay;
}

header img {
  width: clamp(10rem, 25vw, 20rem);
  height: auto;
}

header h2 {
  font-weight: 300;
  color: rgb(255, 204, 0);
  font-size: clamp(1.5rem, 4vw, 2rem);
}

fieldset {
  border-radius: 0.5rem;
  border: none;
  padding: 2rem;
  margin: 4rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgb(240, 240, 240);
  transition: box-shadow 150ms linear;
}

fieldset:focus-within {
  box-shadow: 
    0.5rem 0.5rem 3rem rgb(240, 240, 240),
    0 0 0 0.075rem rgb(255, 162, 0);
}

fieldset legend {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
  color: rgb(152, 73, 8);
  z-index: 1;
}

fieldset legend::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

input:hover,
select:hover {
  filter: brightness(0.97);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgb(248, 248, 248);
  border: none;
  border-bottom: 1px solid black;
  transition: 150ms linear;
  transition-property: background-color, border, filter;
}

input:focus,
select:focus {
  background: rgb(250, 247, 242);
  border-bottom: 1px solid rgb(224, 159, 37);
  outline: none;
}

.address {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
}

.full {
  grid-column-start: 1;
  grid-column-end: -1;
}

.checks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.check-group,
.check-group * {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.check-group input,
.check-group label {
  position: relative;
}

.check-group input:focus::before,
.check-group input:focus + label::after {
  position: absolute;
  content: '';
  border: 0.375rem solid transparent;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
}

.check-group input:focus::before {
  border-left: 0.375rem solid rgb(255, 187, 0);
  left: -0.75rem;
}

.check-group input:focus + label::after {
  border-right: 0.375rem solid rgb(255, 187, 0);
  right: -0.75rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 2rem;
  margin: 2rem 0;
}

.buttons button {
  width: calc(100% - 2rem);
  padding: 0.75em 1.5em;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 100ms linear;
  transition-property: box-shadow, filter;
}

.buttons button:hover {
  filter: brightness(0.9);
}

.buttons button:focus {
  box-shadow: 0 0 0 0.25rem white, 0 0 0 0.5rem orange;
  outline: none;
}

.buttons button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.buttons .submit {
  border: none;
  background: #e12b1d;
  color: white;
}

.buttons .reset {
  color: #e12b1d;
  border: 2px solid #e12b1d;
  background: transparent;
}

#modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.5;
  z-index: -1;
}

#modal.out {
  display: none;
}

#modal.transition {
  animation: fade-out 150ms linear forwards;
  opacity: 1;
}

#modal.in {
  animation: fade-in 150ms linear forwards;
}

#modal .modal-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  font-size: 2rem;
  aspect-ratio: 1 / 1;
  width: 4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
  transition: box-shadow 100ms linear;
}

#modal .modal-close:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem yellow;
}

#modal .modal-close.swirl {
  animation: swirl 1s cubic-bezier(.65,-0.58,.42,1.63);
}

#modal .modal-success {
  position: relative;
  background: green;
  border-radius: 1rem;
  color: white;
  padding: 5rem;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.25);
}

#modal .modal-success h1 {
  max-width: 12ch;
  font-weight: 300;
}

@media (min-width: 600px) {
  header {
    padding: 6rem;
  }

  main {
    padding: 4rem 10vw;
  }

  .form {
    grid-template-columns: 1fr 1fr;
  }

  .buttons button {
    width: unset;
  }
}

@media (min-width: 900px) {
  main {
    padding: 4rem 25vw;
  }
}

@keyframes swirl {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}