@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&family=Roboto:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

header,
main,
footer {
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  background: #e12b1d;
}

header h2 {
  font-weight: 300;
  color: rgb(255, 228, 73);
  font-size: 2rem;
}

fieldset {
  border-radius: 0.5rem;
  border: none;
  padding: 2rem;
  margin: 4rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgb(240, 240, 240);
  transition: box-shadow 150ms linear;
}

fieldset:focus-within {
  box-shadow: 0.5rem 0.5rem 3rem rgb(240, 240, 240),
    0 0 5rem 2rem rgb(255, 250, 247);
}

fieldset legend {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5rem;
}

fieldset legend {
  color: rgb(152, 73, 8);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgb(248, 248, 248);
  border: none;
  border-bottom: 1px solid black;
  transition: 150ms linear;
  transition-property: background-color, border, box-shadow;
}

input:focus,
select:focus {
  background: rgb(250, 247, 242);
  border-bottom: 1px solid rgb(224, 159, 37);
  outline: none;
  box-shadow: 0 2px white, 0 3px rgb(247, 192, 89);
}

.address {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
}

.full {
  grid-column-start: 1;
  grid-column-end: -1;
}

.checks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.check-group,
.check-group * {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 2rem;
  margin: 2rem 0;
}

.buttons button {
  padding: 0.75em 1.5em;
  font-size: 1.5rem;
  cursor: pointer;
  transition: box-shadow 100ms linear, filter 100ms linear;
}

.buttons button:hover {
  filter: brightness(0.9);
}

.buttons button:focus {
  box-shadow: 0 0 0 0.25rem white, 0 0 0 0.5rem orange;
  outline: none;
}

.buttons button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.buttons .submit {
  border: none;
  background: #e12b1d;
  color: white;
}

.buttons .reset {
  color: #e12b1d;
  border: 2px solid #e12b1d;
  background: transparent;
}

@media (min-width: 600px) {
  header {
    padding: 4rem;
  }

  main,
  footer {
    padding: 4rem 10vw;
  }
}

@media (min-width: 900px) {
  main,
  footer {
    padding: 4rem 25vw;
  }
}
