@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&family=Roboto:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 2rem;
}

main {
  padding: 0.35rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  background: #da0f00;
}

header img {
  max-width: 15rem;
  height: auto;
}

header h2 {
  font-weight: 300;
  color: rgb(255, 228, 73);
  font-size: 2rem;
}

fieldset {
  border-radius: 0.5rem;
  border: none;
  padding: 2rem;
  margin: 4rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgb(240, 240, 240);
  transition: box-shadow 150ms linear;
}

fieldset:focus-within {
  box-shadow: 
    0.5rem 0.5rem 3rem rgb(240, 240, 240),
    0 0 0 0.075rem rgb(255, 162, 0);
}

fieldset legend {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
  color: rgb(152, 73, 8);
  z-index: 1;
}

fieldset legend::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

input:hover,
select:hover {
  filter: brightness(0.97);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgb(248, 248, 248);
  border: none;
  border-bottom: 1px solid black;
  transition: 150ms linear;
  transition-property: background-color, border, filter;
}

input:focus,
select:focus {
  background: rgb(250, 247, 242);
  border-bottom: 1px solid rgb(224, 159, 37);
  outline: none;
}

.address {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
}

.full {
  grid-column-start: 1;
  grid-column-end: -1;
}

.checks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.check-group,
.check-group * {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.check-group input {
  position: relative;
}

.check-group input:focus::before {
  position: absolute;
  content: '';
  border: 0.33rem solid transparent;
  border-left: 0.33rem solid rgb(255, 187, 0);
  height: 0;
  width: 0;
  top: 1px;
  left: -0.6rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 2rem;
  margin: 2rem 0;
}

.buttons button {
  padding: 0.75em 1.5em;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 100ms linear;
  transition-property: box-shadow, filter;
}

.buttons button:hover {
  filter: brightness(0.9);
}

.buttons button:focus {
  box-shadow: 0 0 0 0.25rem white, 0 0 0 0.5rem orange;
  outline: none;
}

.buttons button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.buttons .submit {
  border: none;
  background: #e12b1d;
  color: white;
}

.buttons .reset {
  color: #e12b1d;
  border: 2px solid #e12b1d;
  background: transparent;
}

@media (min-width: 600px) {
  header {
    padding: 6rem;
  }

  main {
    padding: 4rem 10vw;
  }

  .form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  main {
    padding: 4rem 25vw;
  }
}
